/*
-----------------------------------------------------
1. GENERELLE INDSTILLINGER
-----------------------------------------------------
*/



* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
}

/*
-----------------------------------------------------
2. LOG IND SIDE
-----------------------------------------------------
*/


/*Header farve og str til iPhone X*/
.keaheader {
    background-color: #EA5045;
    width: 375px;
    height: 240px;
    position: relative;
}

/*Logo*/
.keaimg {
    background-image: url(produktion/kea.png);
    background-repeat: no-repeat;
    width: 127px;
    height: 32px;
    position: absolute;
    top: 25vw;
    left: 33vw;
}

/*Parent div*/
.logind {
    position: relative;
    background-color: #FAF7F7;
    height: 812px;
    width: 375px;
}

/*input/form mail*/
input[type=mail] {
    width: 80%;
    padding: 15px 22px;
    margin: 10px 35px;
    box-sizing: border-box;
    border: 1px solid #FAF7F7;
    border-radius: 100px;
    position: absolute;
    top: 30vw;
}

/*input/form pass*/
input[type=pass] {
    width: 80%;
    padding: 15px 22px;
    margin: 10px 35px;
    box-sizing: border-box;
    border: 1px solid #FAF7F7;
    border-radius: 100px;
    position: absolute;
    top: 50vw;
}

/*input/form submit*/
input[type=submit] {
    width: 80%;
    background-color: #EA5045;
    padding: 15px 22px;
    margin: 10px 35px;
    box-sizing: border-box;
    border-radius: 20px;
    color: white;
    position: absolute;
    top: 90vw;
}

/*input/form facebook*/
input[type=facebook] {
    width: 80%;
    padding: 15px 22px;
    margin: 15px 35px;
    box-sizing: border-box;
    border: 1px solid #EA5045;
    border-radius: 20px;
    color: #EA5045;
    text-align: center;
    background-image: url(produktion/fblogo.png);
    background-repeat: no-repeat;
    background-position: 20px;
    position: absolute;
    top: 110vw;
}
