/*
-----------------------------------------------------
1. GENERELLE INDSTILLINGER
-----------------------------------------------------
*/



* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
}

/*
-----------------------------------------------------
2. LOG IND SIDE
-----------------------------------------------------
*/

#login {
    width: 100vw;
    max-width: 375px;
    margin: 0 auto;
}

/*Header farve og str til iPhone X*/
#login .keaheader {
    background-color: #EA5045;
    background-image: url(produktion/kea.png);
    height: 240px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}



}

/*Parent div*/
#login .logind {
    position: relative;
    background-color: #FAF7F7;
    height: 812px;
}

/*input/form mail*/
input[type=mail] {
    width: 80%;
    padding: 15px 22px;
    margin: 10px 35px;
    box-sizing: border-box;
    border: 1px solid #FAF7F7;
    border-radius: 100px;
    top: 30vw;

}

/*input/form pass*/
input[type=pass] {
    width: 80%;
    padding: 15px 22px;
    margin: 10px 35px;
    box-sizing: border-box;
    border: 1px solid #FAF7F7;
    border-radius: 100px;
    position: absolute;
    top: 50vw;
}

/*input/form submit*/
input[type=submit] {
    width: 80%;
    background-color: #EA5045;
    padding: 15px 22px;
    margin: 10px 35px;
    box-sizing: border-box;
    border-radius: 20px;
    color: white;
    position: absolute;
    top: 90vw;
}

/*input/form facebook*/
input[type=facebook] {
    width: 80%;
    padding: 15px 22px;
    margin: 15px 35px;
    box-sizing: border-box;
    border: 1px solid #EA5045;
    border-radius: 20px;
    color: #EA5045;
    text-align: center;
    background-image: url(produktion/fblogo.png);
    background-repeat: no-repeat;
    background-position: 20px;
    position: absolute;
    top: 110vw;
}

/*
-----------------------------------------------------
3. FORSIDE
-----------------------------------------------------
*/


#forside {
    height: 100%;
    max-width: 375px;
    margin: 0 auto;
}


#forside .keaheader {
    background-color: #EA5045;
    width: 100%;
    height: 50px;
    background-position: 20px;
    background-repeat: no-repeat;
}

#forside .keaimg {
    background-image: url(produktion/kea.png);
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;

}


/*Parent div indstillinger*/
#pforside {
    background-color: #faf7f7;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;

}

.menubox {
    display: flex;
    flex-grow: 1;
    width: 110px;
    height: 110px;
    background-color: white;
    margin: 5px;
    justify-content: center;
    align-items: center;

}

.techlounge {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 220px;
    height: 110px;
    background-color: white;
    margin: 5px;
}

.keamail {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 110px;
    height: 110px;
    background-color: white;
    margin: 5px;
}

.col2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.search {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 110px;
    height: 110px;
    background-color: white;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.afleveringer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 110px;
    height: 110px;
    background-color: white;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.aktuelt {
    display: flex;
    flex-grow: 1;
    width: 220px;
    height: 225px;
    background-color: white;
    margin: 5px;
}

.text {
    font-family: canada-type-gibson, sans-serif;
    font-style: normal;
    font-weight: 100;
}

.text1 {
    font-family: canada-type-gibson, sans-serif;
    font-style: normal;
    font-weight: 100;
}

.text2 {
    font-family: canada-type-gibson, sans-serif;
    font-style: normal;
    font-weight: 100;
}
